@font-face {
    font-family: 'adam.cg_proregular';
    src: url('adam.cg_pro-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Nunito", Helvetica, sans-serif;
}

body {
    background-color: #f3f3f3;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'adam.cg_proregular';
}

header {
    border-bottom: #d33734 dashed 8px;
    margin-bottom: 2em;
}

.header-top {
    text-align: right;
    padding: 1em;
}

.header-bottom {
    background-color: #ffffff;
    border-radius: 10em 10em 0 0;
    padding: 6em 1em;
}

.quote .text {
    font-weight: bold;
}

.quote .author::before {
    content: " - ";
}

.contact {
    text-align: center;
}

.contact ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact ul li {
    display: inline-block;
}

.title-container {
    text-align: center;
}

main {
    padding-top: 3em;
    background-color: white;
}

.adjectives {
    list-style: none;
}

.adjectives-item {
    border: 1px solid #cccccc;
    border-radius: 3px;
    font-family: 'adam.cg_proregular';
    margin-bottom: 10px;
    padding: 10px 15px;
}

.adjectives-item div {
    font-family: 'adam.cg_proregular';
}

.adjectives .additional {
    list-style-position: inside;
}

.additional-item {
    margin-top: 5px;
}

.additional-item a {
    color: inherit;
    text-decoration: underline;
}

.icon {
    margin-right: 20px;
}

.icon.red {
    color: #ff0000
}

.icon.green {
    color: #008000;
}

.icon.orange {
    color: #FF9900;
}

.banner-container {
    margin-bottom: 25px;
    padding: 0;
}

@media screen and (min-width: 725px) {
    .banner-container {
        padding: 0 15px;
    }
}

.banner img {
    width: 100%
}

.separator {
    font-size: 2em;
    margin: 75px 0;
    text-align: center;
}

.subtitle-container {
    text-align: center;
}

.lined::before,
.lined::after {
    content: " ";
    background: #333;
    display: inline-block;
    height: 2px;
    position: absolute;
    margin: 0 10px;
    top: 50%;
    width: 80%;
}

.lined::before {
    left: 100%;
}

.lined::after {
    right: 100%;
}

.description {
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 50px 10px;
    margin-bottom: 10px;
    text-align: center;
}

.experience {
    margin-bottom: 50px;
}

.languages {
    padding: 50px 0;
}

.tile {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    height: 200px;
    margin: 10px 0;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
}

.tile.link img {
    height: 80%;
    margin-bottom: 5px;
}

.tile.link:hover {
    background-color: #f3f3f3;
}

.tile a {
    display: block;
    width: 100%;
    height: 100%;
}

.tile img, .tile-link img {
    max-height: 100%;
    max-width: 100%;
}

.fa {
  padding: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-envelope {
    background-color: #33DDFF;
    color: #ffffff;
}

.fa-twitter {
  background: #55ACEE;
  color: #ffffff;
}

.fa-linkedin {
    background: #007bb5;
    color: #ffffff;
}

footer {
    color: white;
    background-color: #d33734;
    padding: 10px 0;
}
