@font-face {
    font-family: 'adam.cg_proregular';
    src: url('adam.cg_pro-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Nunito", Helvetica, sans-serif;
}

body {
    background-color: #f3f3f3;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'adam.cg_proregular';
}

header {
    border-bottom: #d33734 dashed 8px;
    margin-bottom: 2em;
}

.header-top {
    text-align: right;
    padding: 1em;
}

.header-bottom {
    background-color: #ffffff;
    border-radius: 10em 10em 0 0;
    padding: 6em 1em;
}

.quote .text {
    font-weight: bold;
}

.quote .author::before {
    content: " - ";
}

.contact {
    text-align: center;
}

.contact ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact ul li {
    display: inline-block;
}

.social {
    display: block;
    text-align: center;
    margin: 5px 2px
}

.social img {
    width: 50px;
}

.social:hover {
    opacity: 0.7;
}

.title-container {
    text-align: center;
}

main {
    padding-top: 3em;
    background-color: white;
}

.adjectives {
    list-style: none;
}

.adjectives-item {
    border: 1px solid #cccccc;
    border-radius: 3px;
    font-family: 'adam.cg_proregular';
    margin-bottom: 10px;
    padding: 10px 15px;
}

.adjectives-item div {
    font-family: 'adam.cg_proregular';
}

.adjectives .additional {
    list-style-position: inside;
}

.additional-item {
    margin-top: 5px;
}

.additional-item a {
    color: inherit;
    text-decoration: underline;
}

.icon {
    margin-right: 20px;
}

.icon.red {
    color: #ff0000
}

.icon.green {
    color: #008000;
}

.icon.orange {
    color: #FF9900;
}

.separator {
    font-size: 2em;
    margin: 75px 0;
    text-align: center;
}

.description {
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 50px 10px;
    margin-bottom: 10px;
    text-align: center;
}

.experienceCarousel .carousel-item {
    background-color: #cccccc;
    padding: 50px;
    height: 100%;
}

.experienceCarousel .carousel-item img {
    display: block;
    margin: auto;
    min-height: 30%;
    max-height: 70%;
    max-width: 100%;
}

.experienceCarousel .carousel-control-next:hover {
    background: linear-gradient(to right, transparent, #ffffff);
    opacity: 0.3;
}

.experienceCarousel .carousel-control-prev:hover {
    background: linear-gradient(to left, transparent, #ffffff);
    opacity: 0.3;
}

.languages {
    padding: 50px 0;
}

.tile {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    height: 200px;
    margin: 10px 0;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
}

.tile.link img {
    height: 80%;
    margin-bottom: 5px;
}

.tile.link:hover {
    background-color: #f3f3f3;
}

.tile a {
    display: block;
    width: 100%;
    height: 100%;
}

.tile img, .tile-link img {
    max-height: 100%;
    max-width: 100%;
}

footer {
    color: white;
    background-color: #d33734;
    padding: 10px 0;
}
