@media only screen and (max-width: 768px) {
    @font-face {
        font-family: 'adam.cg_proregular';
        src: url('adam.cg_pro-webfont.woff2') format('woff2'),
             url('adam.cg_pro-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @keyframes nav-hover {
      to {
        background-color: #555555;
      }
    }

    * {
        overflow-x: hidden;
    }

    html body {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;

        font-family: "Nunito", Helvetica, sans-serif;
    }

    .nav-bar {
        width: 100%;
        height: 3rem;
        margin: 0;
        padding: 0;
        position: fixed;
        bottom: 0;

        text-align: center;
        font-size: 0;

        background-color: #303030;

        z-index: 9;
    }

    .nav-bar li {
        display: inline-block;
        width: 20%;
        height: 100%;
        margin-left: auto;

        border-style: none solid none solid;
        border-width: thin;
        border-color: #555555;
    }

    .nav-bar li a {
        display: block;
        height: 100%;
    }

    .nav-bar li a:hover:not(.selected) {
        animation: nav-hover 1s forwards;
    }

    .selected {
        background-color: #AA3939;
    }

    .nav-bar li i {
        padding-top: 0.5rem;

        font-size: 2rem;
        color: white;
    }

    .head {
        height: 50vh;
        padding-top: 4rem;

        background-size: cover;
        background-image: url("../images/iceland-skim-rock.jpg");
    }

    .title-container {
        width: 100%;
        padding: 1rem 0 1rem 0;

        text-align: center;
        color: white;
        background-color: black;
        opacity: 0.6;
    }

    .title {
        font-size: 10vw;
        font-family: 'adam.cg_proregular';
        font-weight: bold;
    }

    .title-sub {
        font-size: 1rem;
        font-family: 'adam.cg_proregular';
    }

    .content {
        height: 100%;
        font-size: 1rem;
        text-align: center;
        color: grey;

        margin-bottom: 2rem;

        background-color: white;
    }

    .main {
        width: 100%;
        padding: 0rem;
    }

    .main p {
        padding: 0 1rem 0 1rem;
    }

    .heading {
        font-size: 3rem;
        font-family: 'adam.cg_proregular';
        font-weight: normal;
        margin: 0;
    }

    .coloured {
        color: #AA3939;
    }

    .face-image {
        width: 10rem;
        border-radius: 10rem;
    }

    .footer {
        background-color: #AA3939;
        height: 4rem;
        width: 100%;
        bottom: 0%;
        margin: 0;
    }

    .project-content {
        height: 100%;
        width: 100%;

        margin-bottom: 2rem;

        background-color: white;
    }

    .projects {
        height: 100%;
        display: inline-block;
        text-align: center;
    }

    .github-image {
        border: 5px solid transparent;
        border-radius: 20rem;
        width: 10rem;
        margin: 5px;
    }

    .caption {
        font-size: 1rem;
        display: block;
    }

    .github-image:hover {
        border: 5px solid red;
        border-radius: 20rem;
    }

    .snake {
        height: 100%;
        display: inline-block;
    }
}
